
                            <section class="education-section py-3">

                                <h3 class="text-uppercase resume-section-heading mb-4">{{ i18n "awards" }}</h3>

                                <ul class="list-unstyled resume-awards-list">
                                    {{ range .Site.Params.awards.list }}
                                    <li class="mb-3">
                                        <div class="font-weight-bold">{{ .name }}</div>
                                        <div class="text-muted">{{ .body }}</div>
                                        <div class="text-muted">{{ .date }}</div>
                                        <div class="d-flex justify-content-center">
                                        <img class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" src="{{ .Site.BaseURL }}assets/images/{{ .img }}">
                                        </div>
                                        
                                    </li>
                                    <hr>
                                    {{ end }}
                                </ul>

                            </section><!--//education-section-->